
.img {

margin: auto;

}

canvas {

    display: block;

    margin: auto;

}

   body {

            padding: 0px;

            margin: 0px;

        background: black; 

        text-align: center;        

        }

 p {

            color: white;

            font-family: 'Segoe UI';

            font-size: 160%;

 }